@import 'keyframes.scss';

body {
  background-color: lightgray;
  display: grid;
  margin: 0;
  grid-gap: 20px;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 62px;
  border-bottom: 1px solid black;
  .headerimg {
    width: auto;
    height: 60px;
    align-self: center;
    margin-left: 10px;
    &:hover {
      animation: heartBeat 2s infinite;
    }
  }
}
.family {
  width: 100%;
}
